.weather-container{
  display: grid;
}

.week-container{
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(8, 12%);
  width: 80vw;
  height: 150px;
  background-color: rgba(238, 238, 238, .3);
  border: solid #fff .2px;
  box-shadow: 1px 1px 6px 1px rgb(68, 67, 67);
  margin: 0;
  border-radius: 3px;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 120px;
}

.week-container :nth-child(1){
  border-left: none
}

.day-card{
  margin: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-left: solid #222 .2px;
  padding-left: 30px;
}

.solid-text{
  -webkit-text-stroke: .1px #fff;
}

.temp{
  display: flex;
}