.Container{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    background-color: #1C8957;
    opacity: 0.85;
    position: relative;
    height: 100%;
    width: 15vw;
    list-style: none;
    margin-top: -100px;
    margin-left: 20px;

}

.Content{
    justify-content: center;
    margin-top: 20px;
    list-style: none;
    color: #fff;
    position: relative;
    margin-top:0;
    padding:10px;
}
.Content a:hover { 
    background: #85CCAC;
    height:50px;
    border-radius:20px;
    box-shadow: 6px 5px 11px rgba(51,54,66,.9);
} 