.ContentGridVege {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-areas:
    "Container Cards Cards Cards"
    "Container Cards Cards Cards"
    "Container Cards Cards Cards"
    "Container Cards Cards Cards";
}
.Carousel {
  grid-area: Carousel;
  grid-column-start: 1;
  grid-column-end: 4;
}
.Container {
  display: grid;
  grid-area: Container;
  justify-content: center;
  text-align: center;
  background-color: #1c8957;
  opacity: 0.85;
  position: relative;
  height: 1500px;
  width: 20vw;
  list-style: none;
  margin-top: -80px;
  margin-left: 20px;
  margin-right: 30px;
  z-index: 0;
}
.Content {
  justify-content: center;
  list-style: none;
  color: #fff;
  position: relative;
  /* margin-right: 30px; */
  padding: 10px;
  font-size: 1.4em;
  margin-bottom:12px;
}

.grid {
  grid-area: Cards;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 20px;
  margin: 10px;
 
}
.card-content {
  width: 275px;
  height: 245px;
  box-shadow: 1px 1px 11px 1px #3d3a2a;
  background-color: #20323b;
  color: #fff;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  /* margin-right: 0; */
  /* margin-left: 25px; */
  /* margin-top: 15px; */
}
.card-content a {
  justify-content: center;
  align-items: center;
}
.card-content img {
  width: 250px;
  height: 180px;
  border-radius: 10px;
}
.card-content:hover {
  transition: ease-in-out 1.5s;
  background-color: #1c8957;
  box-shadow: 1px 1px 11px 1px #20323b;
  color: #c2f3f0;
}
.IconBack {
  margin-bottom: 20px;
  height: 22px;
  width: 100%;
  /* margin-left: 545px; */
}
.IconHome {
  grid-area: Cards;
  margin-bottom: 20px;
}
.Vege-details{
display: grid;
    /* width: 1000px; */
    /* grid-area: Details; */
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  /* margin-left: 325px; */
    
}
.CardDetails {
  width: 290px;
  /* width: 100%; */
  height: 420px;
  box-shadow: 1px 1px 11px 1px #3d3a2a;
  background-color: #20323b;
  color: #fff;
  border-radius: 3px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.CardDetails img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
}
.CardContent {
  font-size: 1.2em;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  
    .Container {
        display:none;
    }
    .ContentGridVege {
        display: grid;
       
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1.5fr;
        grid-template-areas:
          " Cards Cards"
          " Cards Cards"
          " Cards Cards"
          " Cards Cards"
      }
    
      .Vege-details{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      
}
@media only screen and (max-width: 650px) {
    .grid {
        justify-self: center;
        justify-content:center;
        align-items:center;
        grid-template-columns: 250px;
    }
    /* .grid a{
        margin-left: 30px;
    } */
    .ContentGridVege {
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1.5fr ;
        grid-template-areas:
          " Cards"

      }
      .Vege-details{
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 1;
          grid-column-end: 2;    
        }
}
